[submodule "SDL2Droid-CS"]
	path = SDL2Droid-CS
	url = https://github.com/0x0ade/SDL2Droid-CS.git
[submodule "FNADroid-FNA"]
	path = FNADroid-FNA
	url = https://github.com/0x0ade/FNADroid-FNA.git
[submodule "FNADroid-Native/mojoshader/MojoShader"]
	path = FNADroid-Native/mojoshader/MojoShader
	url = https://github.com/flibitijibibo/MojoShader.git
